on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build dependencies
    steps:
      - uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: npm ci
      - run: npm run lint
      - run: npm test
      - run: npm run lerna:build
